<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingresar codigo</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body class="amber">
    <section id="exito" class="vertical-align">
      <div class="center">
        <img class="img-tamaño-chico" src="../assets/img/icons/check.png" alt="check">
      </div>
      <h5 class="margin-bottom-0 center morado-dark"><b>¡Bien!</b></h5>
      <h5 class="center morado-dark"><b>Ahora puedes usar Yape</b></h5>
    </section>
    <script src="./../static/jquery/dist/jquery.min.js"> </script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"> </script>
    <script src="../assets/js/usuario.js"></script>
  </body>
</html>
