<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrame</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <section class="padding-contenedor">
      <div class="center">
        <img class="img-tamaño-chico" src="../assets/img/icons/phone.png" alt="phone">
      </div>
      <h5 class="center"><b>Para comenzar validemos tu número</b></h5>
      <h6 class="center grey-text text-darken-1">Recibirás un SMS con un código de valiación</h6>
      <form  id="formulario-tel" class="margin-top-10">
        <div class="input-field">
          <div>
            <i class="material-icons prefix grey-text">stay_current_portrait</i>
            <input id="input-tel" class="center" type="number">
            <label for="input-tel">(+55)</label>
          </div>
          <div>
            <input type="checkbox" class="filled-in" id="checkbox-tel"/>
            <label for="checkbox-tel" class="grey-text text-lighten-1">Acepto los <span class="cyan-text text-lighten-1">Términos y condiciones</span></label>
          </div>
        </div>
      </form>
      <div class="center">
        <a id="continuar" class="btn btn-large waves-effect amber white-text size-img disabled"  href="#">CONTINUAR</a>
      </div>
    </section>
    <script src="./../static/jquery/dist/jquery.min.js"> </script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"> </script>
    <script src="../assets/js/registrarme.js"></script>
  </body>
</html>
