<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exito!!</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body  class="morado-dark-fondo">
    <section class="morado-fondo">
      <div class="row right-align">
        <a class="white-text info" href="#"><i class="material-icons">settings</i></a>
      </div>
      <div class="row">
        <div class="col s4 offset-s4">
            <img class="responsive-img" src="../assets/img/icons/happy-face.png" alt="happy-face">
        </div>
      </div>
      <div class="row center-align">
        <h5 class="white-text"><b>¡Hola!</b></h5>
        <a class="cyan-text text-accent-4" href="#"><i class="tiny material-icons">visibility</i> Mostrar saldo</a>
      </div>
    </section>

    <section>
      <div class="cabezal row">
        <div class="col s10 left-align valign-wrapper white-text">
            <p>ÚLTIMOS MOVIMIENTOS</p>
        </div>
        <div class="col s2 right-align">
            <a class="white-text" href="#"><i class="material-icons">navigate_next</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
            <img class="responsive-img" src="../assets/img/icons/icon.png" alt="icon">
        </div>
        <div class="col s8 white-text">
            <h6>¿Aún no realizas tu primer pago?</h6>
            <p>Es rápido y sencillo</p>
        </div>
      </div>
      <div class="botones row center-align margin-top-10">
        <div class="col s6">
            <a class="btn-floating btn-large waves-effect waves-light amber"><i class="material-icons">send</i></a>
            <h6 class="white-text">ENVIAR PAGO</h6>
        </div>
        <div class="col s6">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="medium material-icons">fullscreen</i></a>
            <h6 class="white-text">RECIBIR PAGO</h6>
        </div>
      </div>
    </section>

    <script src="./../static/jquery/dist/jquery.min.js"> </script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"> </script>
  </body>
</html>
