<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear usuario</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <section class="padding-contenedor">
      <div class="center">
        <img class="img-tamaño-chico" src="../assets/img/icons/lockone.png" alt="phone">
      </div>
      <h5 class="center"><b>Crear tu usuario Yape</b></h5>
      <h6 class="center grey-text text-lighten-1">Ingresar un nombre, email y clave de usuarios.</h6>
      <form  id="formulario-codigo">
        <div class="input-field">
          <div class="row margin-bottom-0">
            <div class="col s2">
              <img  class="responsive-img img-tamaño-mediano" src="../assets/img/icons/user.png" class="prefix" alt="usuario">
            </div>
            <input id="input-codigo" class="center col s10 " type="text" placeholder="Nombre">
          </div>
          <div class="row margin-bottom-0">
            <div class="col s2">
              <img  class="responsive-img img-tamaño-mediano" src="../assets/img/icons/message-gray.png" class="prefix" alt="usuario">
            </div>
            <input id="input-codigo" class="center col s10 " type="email" placeholder="correo@ejemplo.com">
          </div>
          <div class="row margin-bottom-0">
            <div class="col s2">
              <img  class="responsive-img img-tamaño-mediano" src="../assets/img/icons/lock.png" class="prefix" alt="usuario">
            </div>
            <input id="input-codigo" class="center col s10 " type="password" placeholder="Ingresa clave de 6 digitos">
          </div>
          <p class="grey-text text-lighten-1 center margin-top-0">
            Cuida esta clave como oro, es tu acceso a Yape
          </p>
        </div>
      </form>
      <div class="center">
        <a id="crear-cuenta" class="btn btn-large waves-effect amber white-text size-img" href="exito.html">CREAR CUENTA</a>
      </div>
    </section>
    <script src="./../static/jquery/dist/jquery.min.js"> </script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"> </script>
    <script src="../assets/js/usuario.js"></script>
  </body>
</html>
