<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Ingresar codigo</title>
    <link rel="stylesheet" href="./../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <section class="padding-contenedor">
      <div class="center">
        <img src="../assets/img/icons/message.png" alt="phone">
      </div>
      <h1 class="center"><b>Crear tu usuario Yape</b></h1>
      <h4 class="center">Ingresar un nombre, email y clave de usuarios.</h4>
      <form  id="formulario-usuario" class="input-field">
        <h4>
          <img src="../assets/img/icons/user.png"  alt="usuario">
          <input class="center" type="text" placeholder="Nombre">
        </h4>
        <h4><label for=""></label>
          <img src="../assets/img/icons/message-gray.png" alt="email">
          <input class="center" type="email" placeholder="correo@ejemplo.com">
        </h4>
        <h4>
          <img src="../assets/img/icons/lock.png" alt="candado">
          <input  class="center" type="password" placeholder="Ingresa clave de 6 digitos">
        </h4>
      </h4>
      <h4 class="grey-text text-lighten-1 center">
        Cuida esta clave como oro, es tu acceso a Yape
      </h4>
      </form>
      <div class="center">
        <a id="crear-cuenta" class="btn btn-large waves-effect amber white-text size-img" disabled href="views/codigo.html">CREAR CUENTA</a>
      </div>
    </section>
    <script src="./../static/jquery/dist/jquery.min.js"> </script>
    <script src="./../static/materialize-css/dist/js/materialize.min.js"> </script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
