/*REUTILIZABLES*/
.img-tamaño-mediano{
  width: 70%;
}

.img-tamaño-chico{
  width: 30%;
}

.padding-18{
  padding: 0 18%;
}

.padding-contenedor{
  padding: 15% 8%;
}

.margin-top-10{
    margin-top: 10vh;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-top-0{
    margin-top: 0;
}

.morado-dark{
   color:#38052a;
}

.morado-dark-fondo{
   background:#38052a;
}

.morado-fondo{
   background:#451e36;
}
.vertical-align{
  margin-top: 50%;
}
h6{
  line-height: 1.5em;
}

/*INDEX*/
section.carousel{
  min-height: 450px;
}

.carousel .indicators .indicator-item{
  background: #e0e0e0;
  width: 15px;
  height: 15px;
}

.carousel .indicators .indicator-item.active{
  background:#d32f2f;
}

#registrame{
  margin-top:3vh;
  width: 80%;
}

/*REGISTRARME*/
 #continuar{
  margin-top:15vh;
}

/*CODIGO*/
#crear-cuenta, form>div:first-child, .margin-top-5 {
  margin-top: 5vh;
}

/*CLAVE-TARJETA*/
.info{
  margin-top:2vh;
  padding-right: 4%;
}
.cabezal{
  border-bottom: 1px solid #451e36;
}
