section.carousel{
  margin-top: 20vh;
}
#registrame, .text-carousel{
  margin-top: 5vh;
}
.size-img{
  width: 80%;
}
.carousel .indicators .indicator-item{
  background: #e0e0e0;
}
.carousel .indicators .indicator-item.active{
  background:#d32f2f;
}
